<%= content_for :meta_title, "#{@recipe.name} - Recipes To Scrape" %>

<div class="container my-5" id="recipe_advanced" data-controller="recipes" data-action="load@window->recipes#renderRecipe" data-recipes-url="<%= api_v1_recipe_path(@recipe) %>">
  <div class="spinner-position">
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading recipes...</span>
    </div>
  </div>
</div>
