<div class="container my-5" id="recipes_advanced" data-controller="recipes" data-action="load@window->recipes#renderRecipes" data-recipes-url="<%= api_v1_recipes_path %>" data-recipes-history="true">
  <div class="recipes-container">
    <h1 data-target="recipes.title" data-title="All Recipes">All Recipes</h1>
    <%= render 'recipes/search_form', remote: true %>
    <div class="spinner-position" data-target="recipes.spinner">
      <div class="spinner-border text-danger" role="status">
        <span class="sr-only">Loading recipes...</span>
      </div>
    </div>
    <div data-target="recipes.container">
    </div>
    <div data-target="recipes.recipe"></div>
  </div>
</div>
