<div class="container my-5">
  <h1>All Recipes</h1>

  <div class="recipes-container">
    <%= render 'recipes/search_form', remote: false %>
    <%= render 'recipes/recipes', recipes: @recipes, pagy: @pagy, remote: false %>
  </div>
</div>
