<div class="container my-5">
  <h1>All Recipes</h1>

  <div class="recipes-container" data-controller="recipes" data-action="load@window->recipes#renderRecipes">
    <%= render 'recipes/search_form', remote: false %>
    <%= render 'recipes/recipes', recipes: @recipes, pagy: @pagy %>
  </div>
</div>
